In [20]:
# Import date class to work with dates and timedelta to add days
from datetime import date, timedelta
# Take start date input from user in dd-mm-yyyy format
d1 = input("Enter start date (dd-mm-yyyy): ")
# Take end date input from user in dd-mm-yyyy format
d2 = input("Enter end date (dd-mm-yyyy): ")
# Split the start date string and convert day, month, year to integers
day1, month1, year1 = map(int, d1.split("-"))
# Split the end date string and convert day, month, year to integers
day2, month2, year2 = map(int, d2.split("-"))
# Create date object for start date
start = date(year1, month1, day1)
# Create date object for end date
end = date(year2, month2, day2)
# Calculate total number of days between start and end dates
total_days = (end - start).days
# Loop from 0 to total_days (inclusive)
for i in range(total_days + 1):
    # Add i days to the start date
    current_date = start + timedelta(days=i)
    # Print the date in dd mm yyyy format
    print(current_date.strftime("%d %m %Y"))

01 01 2026
02 01 2026
03 01 2026
04 01 2026
05 01 2026
06 01 2026
07 01 2026
08 01 2026
09 01 2026
10 01 2026
11 01 2026
12 01 2026
13 01 2026
14 01 2026
15 01 2026

In [27]:
import sys
print(sys.executable)

c:\Users\Hari\anaconda3\python.exe

In [1]:
import pandas as pd
print("Pandas loaded successfully")
print(pd.__version__)

Pandas loaded successfully
2.1.4

In [6]:
# Import the pandas library and assign alias 'pd'
import pandas as pd
# Take start date input from the user in dd-mm-yyyy format
start = input("Enter start date (dd-mm-yyyy): ")
# Take end date input from the user in dd-mm-yyyy format
end = input("Enter end date (dd-mm-yyyy): ")
# Convert start date string to datetime object
# dayfirst=True tells pandas that date format is dd-mm-yyyy
start_date = pd.to_datetime(start, dayfirst=True)
# Convert end date string to datetime object
# dayfirst=True ensures correct date interpretation
end_date = pd.to_datetime(end, dayfirst=True)
# Create a range of dates from start_date to end_date
# freq='D' means daily frequency (one day gap)
dates = pd.date_range(start=start_date, end=end_date, freq='D')
# Loop through each date in the generated date range
for d in dates:
    # Format the date as dd mm yyyy and print it
    print(d.strftime("%d %m %Y"))

01 01 2026
02 01 2026
03 01 2026
04 01 2026
05 01 2026
06 01 2026
07 01 2026
08 01 2026
09 01 2026

In [14]:
# Import the pandas library and give it an alias 'pd'
# Pandas is used for working with tabular data like Excel files
import pandas as pd

# Read the Excel file from the local machine into a pandas DataFrame
# The r before the path means "raw string" to avoid path errors in Windows
df = pd.read_excel(r"C:\Users\Hari\Downloads\sample_orders.xlsx")

# Display the first 5 rows of the DataFrame
# This helps us quickly understand the data structure
df.head()

# Display the entire DataFrame
# Useful when the dataset is small
df

    Order_ID Order_Date     Customer Product  Amount
0          1 2026-01-01   Customer_1  Laptop   50000
1          2 2026-01-02   Customer_2  Laptop   51000
2          3 2026-01-03   Customer_3  Laptop   52000
3          4 2026-01-04   Customer_4  Laptop   53000
4          5 2026-01-05   Customer_5  Laptop   54000
5          6 2026-01-06   Customer_6  Laptop   55000
6          7 2026-01-07   Customer_7  Laptop   56000
7          8 2026-01-08   Customer_8  Laptop   57000
8          9 2026-01-09   Customer_9  Laptop   58000
9         10 2026-01-10  Customer_10  Laptop   59000
10        11 2026-01-11  Customer_11  Laptop   60000
11        12 2026-01-12  Customer_12  Laptop   61000
12        13 2026-01-13  Customer_13  Laptop   62000
13        14 2026-01-14  Customer_14  Laptop   63000
14        15 2026-01-15  Customer_15  Laptop   64000
15        16 2026-01-16  Customer_16  Laptop   65000
16        17 2026-01-17  Customer_17  Laptop   66000
17        18 2026-01-18  Customer_18  Laptop   67000
18        19 2026-01-19  Customer_19  Laptop   68000
19        20 2026-01-20  Customer_20  Laptop   69000

In [16]:
# Import pandas library
import pandas as pd
# Take start date input from the user in dd-mm-yyyy format
start = input("Enter start date (dd-mm-yyyy): ")
# Take end date input from the user in dd-mm-yyyy format
end = input("Enter end date (dd-mm-yyyy): ")
# Convert user input strings into datetime format
# dayfirst=True ensures dd-mm-yyyy format is interpreted correctly
start_date = pd.to_datetime(start, dayfirst=True)
end_date = pd.to_datetime(end, dayfirst=True)
# Ensure Order_Date column is in datetime format
df["Order_Date"] = pd.to_datetime(df["Order_Date"])
# Directly display records that fall between start_date and end_date
df[
    (df["Order_Date"] >= start_date) &
    (df["Order_Date"] <= end_date)
]

''' 
filtered_df = df[
    (df["Order_Date"] >= start_date) &
    (df["Order_Date"] <= end_date)
]
'''

Empty DataFrame
Columns: [Order_ID, Order_Date, Customer, Product, Amount]
Index: []

# Data Types
- Data types mainly used to classify the type of data that stored in a variable.
- and Data types decide what operations can be performed on that data.
- Python is a dynamically typed language, so we don‚Äôt need to declare the data type explicitly.
- The Python interpreter identifies the data type at runtime based on the value assigned.
1. Numeric
    1. Integer
    2. Float
2. Boolean
3. None 
4. Strings
5. Collection
    1. List
    2. Tuple
    3. Dictionary
    4. Set

- ‚ÄúSo based on the value we assign, Python automatically decides the data type.‚Äù

# Numeric Data type
- Numeric data types are used to store number values in Python.
- They mainly include integers (whole numbers) and floats (decimal numbers).

In [3]:
# Program 1 ‚Äì Integer

a = 10
b = -25
print(a)
print(b)

10
-25

In [6]:
# Program 2 ‚Äì Float

x = 10.5
y = 3.14
print(x)
print(y)

10.5
3.14

In [7]:
# Program 3 ‚Äì Integer and Float together

a = 10
b = 2.5
print(a + b)

# Python automatically converts the integer into a float before performing the operation. implicit type conversion

12.5

# Boolean Data Type

- The Boolean data type is used to store logical values.
- It can have only two possible values: True or False. and is used for conditional checks.

üîπ Simple explanation you can say:

- Boolean represents yes or no conditions
- It is mainly used in decision making and conditions

In [8]:
# Program 1

is_login = True
print(is_login)

True

In [9]:
#Program 2

a = 10
b = 20
print(a > b)

False

In [12]:
# Program 3 ‚Äì Using if condition

age = 18

if age >= 18:
    print(True)
else:
    print(False)

True

# ‚úÖ None Data Type

- The None data type represents no value or empty value in Python.
- It is used when a variable does not have any data assigned yet.
- None data type is used to represent the absence of a value.

üîπ Simple explanation you can say:

- None means nothing, null, or no value
- It is different from 0, empty string "", or False

In [13]:
# Program 1

result = None
print(result)

None

In [14]:
# Program 2

value = None

if value is None:
    print("No value assigned")

No value assigned

In [18]:
# Program 3 ‚Äì Later assigning value we ordered a Laptop 

order_id = 1025
product = "Laptop"
delivery_date = None   # not assigned yet
delivery_date = "10-July-2026"
print(delivery_date)



# At the time of placing the order, the delivery date is not available, so we assign the value as None.
# Later, when the delivery date is confirmed, we update the variable with the actual date.
# This shows how None is used when data is not available initially but assigned later.

10-July-2026

# String
- Strings are used to store text data
- Strings are written inside single or double quotes
- Strings are immutable (cannot be changed)
- Strings support indexing and slicing
- Strings have many built-in functions for manipulation

In [19]:
# 1st point
# Strings are used to store text data
# Strings are used to store names, messages, sentences, or any textual information.
# Example:
name = "Python"
message = "Welcome to Python"
print(name)
print(message)

''' 
Is there any length limit for strings in Python?
No ‚Äî Python does NOT have a fixed length limit for strings.
A string can be as long as your system memory allows.

long_text = "a" * 1000000   # 1 million characters
print(len(long_text))

paragraph = """
Python is a high-level programming language
used for data engineering, automation, and AI.
"""
print(paragraph)    # this is valid
'''




# Practical note (important)
# Very large strings:
#   use more memory
#   can slow down performance
# In real projects, we store huge text in files or databases, not variables

Python
Welcome to Python

' \nIs there any length limit for strings in Python?\nNo ‚Äî Python does NOT have a fixed length limit for strings.\nA string can be as long as your system memory allows.\n\nlong_text = "a" * 1000000   # 1 million characters\nprint(len(long_text))\n\nparagraph = """\nPython is a high-level programming language\nused for data engineering, automation, and AI.\n"""\nprint(paragraph)    # this is valid\n'

In [20]:
# 2 point
# Strings are written inside single or double quotes
# Strings can be enclosed using single quotes (' ') or double quotes (" ").
#Example:

city = 'Bangalore'
language = "Python"
print(city)
print(language)

Bangalore
Python

In [21]:
# 3rd point
# Strings are immutable (cannot be changed)
# Once a string is created, its characters cannot be modified.
# Example:

text = "Hello"
# text[0] = "h"   # ‚ùå This will give an error
print(text)


# üëâ To change a string, we must create a new string.

Hello

In [22]:
# 4th point
# Strings support indexing and slicing
# Each character in a string has an index position starting from 0.
# Example (Indexing):

word = "Python"
print(word[0])   # P
print(word[3])   # h


# Example (Slicing):

print(word[1:4])  # yth

P
h
yth

# 5th point 
- upper() ‚Äì Converts all characters to uppercase
- lower() ‚Äì Converts all characters to lowercase
- capitalize() ‚Äì Converts the first character to uppercase
- title() ‚Äì Converts the first character of each word to uppercase
- strip() ‚Äì Removes spaces from both left and right sides
- lstrip() ‚Äì Removes spaces from the left side
- rstrip() ‚Äì Removes spaces from the right side
- replace() ‚Äì Replaces a substring with another substring
- split() ‚Äì Splits a string into a list
- join() ‚Äì Joins list elements into a string
- find() ‚Äì Returns the index of the first occurrence of a substring
- count() ‚Äì Counts how many times a substring appears
- startswith() ‚Äì Checks if the string starts with a given value
- endswith() ‚Äì Checks if the string ends with a given value
- isdigit() ‚Äì Checks if the string contains only digits
- isalpha() ‚Äì Checks if the string contains only alphabets
- isalnum() ‚Äì Checks if the string contains letters and numbers
- isspace() ‚Äì Checks if the string contains only spaces
- islower() ‚Äì Checks if all characters are lowercase
- isupper() ‚Äì Checks if all characters are uppercase
- swapcase() ‚Äì Converts uppercase to lowercase and vice versa
- len() ‚Äì Returns the length of the string
- center() ‚Äì Centers the string within a specified width
- zfill() ‚Äì Pads the string with leading zeros
- format() ‚Äì Inserts values into a string in a formatted way

In [29]:
# strip() ‚Äì Removes extra spaces
# lower() ‚Äì Converts text to lowercase
# replace() ‚Äì Replaces words
# split() ‚Äì Breaks string into list
# len() ‚Äì Counts number of elements
# join() ‚Äì Joins list back to string

In [30]:
# 1Ô∏è‚É£ strip() ‚Äì Removes extra spaces

# Removes spaces from the beginning and end of a string.

text = "   Hello Python   "
print(text.strip())

Hello Python

In [31]:
# lower() ‚Äì Converts text to lowercase

# Converts all characters in the string to lowercase.

text = "Hello PYTHON"
print(text.lower())

hello python

In [32]:
# replace() ‚Äì Replaces words

# Replaces a specified word with another word.

text = "I like Java"
print(text.replace("Java", "Python"))

I like Python

In [33]:
# 4Ô∏è‚É£ split() ‚Äì Breaks string into list

# Splits a string into a list of words using spaces by default.

text = "Python is easy"
print(text.split())

['Python', 'is', 'easy']

In [38]:
# 5Ô∏è‚É£ len() ‚Äì Counts number of elements

# Returns the number of elements in a string or list.

text = "Python"
print(len(text))

# Example 2

words = ["Python", "is", "easy"]
print(len(words))

6
3

In [40]:
# join() ‚Äì Joins list back to string

# Joins list elements into a single string using a separator.

words = ["Python", "is", "easy"]
print(" ".join(words))
print(words)

Python is easy
['Python', 'is', 'easy']