# List
- List can access multiple data types
- List is enclosed with square brackets ([])
- Values are defined using comma-separated values
- List is mutable (we can modify it as per our requirements)
- List allows duplicate values

In [ ]:
# List can access multiple data types
my_list = [10, 2.5, "Python", True]  # int, float, String and Boolean
my_list

[10, 2.5, 'Python', True]

In [9]:
# List is enclosed with square brackets ([])
numbers = [1, 2, 3, 4]
numbers

[1, 2, 3, 4]

In [10]:
# Values are defined using comma-separated values
fruits = ["apple", "banana", "mango"]
fruits

['apple', 'banana', 'mango']

In [11]:
# List is mutable (we can modify it)
nums = [1, 2, 3]
print(nums)
nums[1] = 10
print(nums)

[1, 2, 3]
[1, 10, 3]

In [12]:
# List allows duplicate values
marks = [80, 90, 80, 70]
marks

[80, 90, 80, 70]

In [13]:
# Accessing Elements from a List
# Accessing elements using index (index starts from 0)
fruits = ["apple", "banana", "mango"]
print(fruits[0])
print(fruits[2])


#Elements are accessed using index positions.

apple
mango

In [ ]:
# Slicing (extracting a portion of existing data)
nums = [1, 2, 3, 4, 5]
print(nums[1:4])

# Slicing returns a sub-list from the original list.

[2, 3, 4]

In [15]:
# Reassigning List Elements
# Modifying an element in the list
nums = [10, 20, 30]
nums[1] = 25
print(nums)


# Lists are mutable, so elements can be changed.

[10, 25, 30]

In [16]:
# Deleting Elements
# Deleting an element using del
nums = [10, 20, 30, 40]
del nums[2]
print(nums)


# Elements can be removed using del.

[10, 20, 40]

In [17]:
# Multidimensional List
# List inside another list
matrix = [[1, 2], [3, 4]]
print(matrix[0][1])


# A list containing other lists is called a multidimensional list.

2

In [ ]:
# Basic Operations on List
# Basic list operations
a = [1, 2]
b = [3, 4]

print(a + b)        # concatenation
print(a * 2)        # repetition
print(len(a))       # length
print(min(b))       # minimum
print(max(b))       # maximum
print(sum(b))       # sum
print(2 in a)       # membership in and not in


# Lists support many built-in operations.

[1, 2, 3, 4]
[1, 2, 1, 2]
2
3
4
7
True

In [68]:
# Iteration over List
# Iterating through list elements
nums = [10, 20, 30]
for i in nums:
    print(i)


# Iteration allows accessing elements one by one.

10
20
30

In [57]:
# List Comprehension : it is another way of creating list 
# Creating a list using list comprehension    
squares = [x*x for x in range(1, 6)]
print(squares)

numbers = [i for i in range(1,6)]
print(numbers)

# List comprehension is a short and clean way to create lists.

[1, 4, 9, 16, 25]
[1, 2, 3, 4, 5]

##### List Built-in List Methods

In [22]:

# append()
# Adds element at the end
nums = [1, 2]
nums.append(3)
print(nums)

[1, 2, 3]

In [23]:
# extend()
# Adds multiple elements
nums = [1, 2]
nums.extend([3, 4])
print(nums)

[1, 2, 3, 4]

In [24]:
# insert()
# Inserts element at a specific position
nums = [1, 3]
nums.insert(1, 2)
print(nums)

[1, 2, 3]

In [25]:
# remove()
# Removes first occurrence of value
nums = [1, 2, 3, 2]
nums.remove(2)
print(nums)

[1, 3, 2]

In [27]:
# pop()
# Removes and returns element
nums = [1, 2, 3]
nums.pop()
print(nums)

[1, 2]

In [29]:
# sort()
# Sorts list in ascending order
nums = [3, 1, 2]
nums.sort()
print(nums)

[1, 2, 3]

In [30]:
# count()
# Counts occurrences of an element
nums = [1, 2, 2, 3]
print(nums.count(2))

2

In [31]:
# index()
# Returns index of element
nums = [10, 20, 30]
print(nums.index(20))

1

In [32]:
# reverse()
# Reverses list order
nums = [1, 2, 3]
nums.reverse()
print(nums)

[3, 2, 1]

## Tuple

In [58]:
# Tuple is similar to List data structure
# Tuple stores multiple values like a list
t = (10, 20, 30)
t

(10, 20, 30)

In [59]:
# Tuple is immutable (cannot change, add, or reassign elements)
# Trying to modify a tuple element
t = (1, 2, 3)
# t[0] = 10   # This will cause an error

t
# Once created, tuple elements cannot be modified.

(1, 2, 3)

In [60]:
# Tuple is defined using parentheses ()
colors = ("red", "green", "blue")

colors

('red', 'green', 'blue')

In [61]:
# Tuple can store multiple data types
data = (10, 2.5, "Python", True)

data

(10, 2.5, 'Python', True)

In [62]:
# Tuple structure cannot be modified directly

t = (1, 2, 3)
lst = list(t)
lst.append(4)
t = tuple(lst)
print(t)


# To modify a tuple, convert it to a list, make changes, then convert it back.

(1, 2, 3, 4)

In [39]:
# Accessing Elements from Tuple
# Accessing tuple elements using index
t = (10, 20, 30)
print(t[0])


# Elements are accessed using index positions (starting from 0).

10

In [ ]:
# Indexing and Slicing
# Indexing : accesses one element
t = (1, 2, 3, 4, 5)
print(t[2])

# Slicing : extracts a portion of the tuple.
print(t[1:4])

3
(2, 3, 4)

In [ ]:
# Reassigning Tuple Elements
t = (1, 2, 3)
# t[0] = 10   # Error


# Tuple elements cannot be reassigned because tuples are immutable.

In [64]:
t=(1,2,3)
t1 = list(t)
t1[1] = 20
t=tuple(t1) 
t

(1, 20, 3)

In [ ]:
# Deleting Elements
t = (1, 2, 3)
# del t[1]    # Error


# You cannot delete individual elements from a tuple.
# Only the entire tuple can be deleted:

In [46]:
t

(1, 2, 3)

In [43]:
del t

In [ ]:
t  # in above cell we deleted Tuple so we are getting error that 't' is not defined

NameError: name 't' is not defined

In [47]:
# Nested Tuples
# Tuple inside another tuple
t = (1, (2, 3), 4)
print(t[1][0])


# A tuple containing another tuple is called a nested tuple.

2

In [48]:
# Basic Operations on Tuple
a = (1, 2)
b = (3, 4)

print(a + b)        # concatenation
print(a * 2)        # repetition
print(len(a))       # length
print(min(b))       # minimum
print(max(b))       # maximum
print(sum(b))       # sum
print(2 in a)       # membership

(1, 2, 3, 4)
(1, 2, 1, 2)
2
3
4
7
True

In [ ]:
# Not Required
# Iteration
for i in a:
    print(i)


# Tuples support common operations like lists.

1
2

In [52]:
# Built-In Methods
# count()
t = (1, 2, 2, 3)
print(t.count(2))

# Returns how many times an element appears.

2

In [53]:
# index()
t = (10, 20, 30)
print(t.index(20))


#  Returns the index of the first occurrence.

1

In [67]:
# enumerate()
t = ("a", "b", "c")

for index, value in enumerate(t):
    print(index, value)


# Returns index and value together while iterating.

0 a
1 b
2 c

In [70]:
# Why does Tuple have very few built-in methods?
#Simple explanation:
# - Tuples are immutable, so Python does not provide methods that modify data.
#Key reasons:

# - No adding elements
# - No removing elements
# - No updating elements

# Only read-only operations are allowed

# Thatâ€™s why tuples have only count() and index() as built-in methods.

In [ ]:
# Main reason using tuples - 
# Tuples are faster than lists in terms of performance
# Tuples are immutable; once created, they cannot be modified
# Tuples are more memory-efficient than lists

In [71]:
# Practice Programs

# Write a program to create a list and display all its elements.
# Write a program to find the length of a list.
# Write a program to access the first and last elements of a list.
# Write a program to add an element to a list.
# Write a program to remove an element from a list.
# Write a program to find the maximum and minimum values in a list.
# Write a program to count duplicate elements in a list.
# Write a program to reverse a list.
# Write a program to check whether a given element exists in a list.
# Write a program to iterate through a list and display all elements.
# Write a program to create a tuple and display its elements.
# Write a program to access elements from a tuple using indexing.
# Write a program to find the length of a tuple.
# Write a program to find the maximum and minimum values in a tuple.
# Write a program to check whether an element exists in a tuple.
# Write a program to count the number of occurrences of an element in a tuple.
# Write a program to find the index of a given element in a tuple.
# Write a program to iterate through a tuple.
# Write a program to convert a tuple into a list.
# Write a program to convert a list into a tuple.