### 1) Introduction to Python
### 2) Applications of Pythob
### 3) IDE's
### 4) Python Interpreter
### 5) indentation & Comments
### 6) Keywords
### 7) variables - Identifiers
### 8) Built-in Types
### 9) Assigning tValues to Variables
### 10) Input & Output Statements
### 11) Operators
### 12) Control Structures --> i)Conditional Statements ii) Jumping Statements iii) Loops
### 13) Math & Random Modules
### 14) List
### 15) Tuple
### 16) Strings
### 17) Set
### 18) Dictionary
### 19) Functions
### *) Numpy
### *) Pandas

# Math Module & Random Module

### Mathematical Functions
    - ceil(x)
    - copysign(x,y)
    - fabs(x)
    - factorial(x)
    - floor(x)
    - fsum(iterable)
    - gcd(x,y)
    - pow(x,y)
    - sqrt(x)
    - sin(x)
    - cos(x)
    - tan(x)
    - pi
    - e
    - tau
    - inf
    - nan

In [1]:
import math

In [2]:
math.ceil(10.3)

11

In [3]:
math.floor(10.4)

10

In [4]:
a=10
b=20
math.copysign(a,b)

10.0

In [5]:
math.fabs(-12)

12.0

In [6]:
math.factorial(5)

120

In [7]:
math.fsum([10,20,5,5.5])  # iterable for only numeriacl values

40.5

In [8]:
math.gcd(3,10)

1

In [9]:
math.pow(2,5) # function it will give float value most probably

32.0

In [10]:
2**5        #

32

In [11]:
math.sqrt(16)

4.0

In [12]:
math.sin(10)

-0.5440211108893698

In [13]:
math.cos(10)

-0.8390715290764524

In [14]:
math.tan(10)

0.6483608274590866

In [15]:
math.pi

3.141592653589793

In [16]:
math.tau

6.283185307179586

In [17]:
math.e

2.718281828459045

In [18]:
math.inf

inf

In [19]:
math.nan

nan

### Random Functions
    - choice(seq)
    - randrange(start,stop,step)
    - random()
    - shuffle()
    - uniform()

In [20]:
import random

In [21]:
random.choice([1,2,3,4,5])

1

In [22]:
random.randrange(1,20,2) # it will give integer value b/w ranges

19

In [23]:
random.random()  # random it will give float value b/w 0 to 1

0.5789547955478554

In [24]:
l=[1,2,3,4,5,6]
random.shuffle(l)
l

[3, 1, 6, 5, 2, 4]

In [25]:
random.uniform(1,20)   # samle like random it will give float value b/w ranges

17.595822705448015

# List
    - list it can access multiple data-types
    - list we can enclosed with square-braces([])
    - we can define values with help of comma separated values
    - list is a mutable :- we can modify a list as per our requirements

    - creating List
    - Accessing elements from list
    - Slicing              :- extracting some portion from all ready existing data
    - Reassigning List elements
    - Deleting elements
    - multidimentional List
    - Basc Operations :- +, *, len, min, max, sum, membership, iterations
    - list comprehension
    - Built-in methods
        * append() :- Adds an element 'x' to the end of the list.
        * extend() :- Extends the list by appending elements from the iterable.
        * insert() :- Inserts an element 'x' at a specified position 'i' in the list.
        * remove() :- Removes the first occurrence of element 'x' from the list.
        * pop()    :- Removes and returns the element at index 'i'. If 'i' is not provided, it removes and returns the 
                      last element.
        * sort()   :- Sorts the elements of the list in ascending order. Optional parameters 'key' and 'reverse' 
                      allow customization.
        * count()  :- Returns the number of occurrences of element 'x' in the list.
        * index()  :- Returns the index of the first occurrence of element 'x'. Optional parameters 'start' and 'end'
                      specify the search range.
        * reverse():- Reverses the order of elements in the list in-place.

In [26]:
# Creating a List
a=[]

In [27]:
type(a)

list

In [28]:
a=list()

In [29]:
type(a)

list

In [30]:
a=[10,20,30,40,"hari",3.556]  # sequence of elements :- multiple elements we are givong to a List

In [31]:
type(a)

list

In [32]:
a

[10, 20, 30, 40, 'hari', 3.556]

In [33]:
# List is Mutable

In [34]:
# Forword Index
a[0] # accessing a element

10

In [35]:
a[0]=100  # Modifying list index as per our required element

In [36]:
a

[100, 20, 30, 40, 'hari', 3.556]

In [37]:
# Backword Index
a[-1]

3.556

In [38]:
a[-2]

'hari'

In [39]:
# Slicing[start(default it will take 0):stop(by default it will take length of(list))]
a[0:2]  # stop is excluding

[100, 20]

In [40]:
a[:]

[100, 20, 30, 40, 'hari', 3.556]

###### Reassigning List Elements

In [41]:
a[0]

100

In [42]:
a[0]=1000

In [43]:
a

[1000, 20, 30, 40, 'hari', 3.556]

In [44]:
# Deleting element
del a[2]

In [45]:
a

[1000, 20, 40, 'hari', 3.556]

###### Multidimentional List

In [46]:
a=[[1,2,3],[4,5,6]]

In [47]:
a

[[1, 2, 3], [4, 5, 6]]

In [48]:
a[0]

[1, 2, 3]

In [49]:
a[0][1]  # 2 sub-scripts

2

### Basic Operations

In [50]:
a=[10,20,30]
b=[40,50,60]

In [51]:
a+b # Concatination

[10, 20, 30, 40, 50, 60]

In [52]:
a*4 # repitation

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [53]:
b*2

[40, 50, 60, 40, 50, 60]

In [54]:
a

[10, 20, 30]

In [55]:
len(a)

3

In [56]:
min(a)

10

In [57]:
max(a)

30

In [58]:
sum(a)

60

In [59]:
# Membership :- in, not in
10 in a

True

In [60]:
100 in a

False

In [61]:
100 not in a

True

In [62]:
for i in range(len(a)):
    print(a[i])

10
20
30

In [63]:
for i in a:
    print(i)

10
20
30

### Built in functions

In [64]:
a=[]

In [65]:
a

[]

In [66]:
a.append(10)

In [67]:
a

[10]

In [68]:
a.append(10)

In [69]:
a

[10, 10]

In [70]:
a.append(20)

In [71]:
a.extend([30,60,50,40])

In [72]:
a

[10, 10, 20, 30, 60, 50, 40]

In [73]:
a.append([10,20])

In [74]:
a

[10, 10, 20, 30, 60, 50, 40, [10, 20]]

In [75]:
# Insert for specified index location :- insert(index,value)
a.insert(1,222)

In [76]:
a

[10, 222, 10, 20, 30, 60, 50, 40, [10, 20]]

In [77]:
a.remove(10)     # 1st occurance will be removed

In [78]:
a

[222, 10, 20, 30, 60, 50, 40, [10, 20]]

In [79]:
a.pop()  # last added element will be removed (or) we can mention index number

[10, 20]

In [80]:
a

[222, 10, 20, 30, 60, 50, 40]

In [81]:
a.pop(0)

222

In [82]:
a

[10, 20, 30, 60, 50, 40]

In [83]:
del a[0]  # here also we can give index number

In [84]:
a

[20, 30, 60, 50, 40]

In [85]:
del a # it will drop completely

In [87]:
a

NameError: name 'a' is not defined

In [88]:
a=[1,2,3,4,5,6,7,8,9]

In [89]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
import random

In [91]:
random.shuffle(a)

In [92]:
a

[6, 2, 9, 8, 4, 1, 5, 7, 3]

In [93]:
a.sort()

In [94]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
random.shuffle(a)

In [96]:
a

[2, 4, 5, 6, 9, 7, 1, 8, 3]

In [97]:
a.sort(reverse=True)

In [98]:
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [99]:
a*3

[9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [100]:
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [101]:
a=a*2

In [102]:
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [103]:
a.count(2)

2

In [104]:
a.pop()

1

In [105]:
a.count(1)

1

In [106]:
a.index(9)   # 1st occurance element index

0

In [107]:
a.reverse()

In [108]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
# List Comprehention
a=[i**2 for i in range(0,100) if i%2==0]

In [110]:
a

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

# Tuple
    - set same like list data structure
    - in tuple is a immutable :- we annot cahnge as per our requirement # cannot change, cannot add,cannot reassign
    - in tuple we can given values with help of open paranthesis
    - in tuple also we can store multiple datatypes
    - in tuple we cannot modify structure, as per our requirements, still if we want to modify we need to convert list 
      and make modify and later again we will converted into tuple

    - a[0] it is called subscript

    - Creating a Tuple
    - Accessing elements from Tuple
    - Slicing
    - Reassigning Tuple elements
    - Deleting elements
    - Nested Tuples
    - Basic Operations :- +, *, len, min, max, sum, membership, iterations 
    - Built-In Methods
        * count()
        * index()
        * enumarate()

In [111]:
t=()

In [112]:
type(t)

tuple

In [113]:
t=tuple()

In [114]:
type(t)

tuple

In [115]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
t=(10,20,30,40,50)

In [117]:
t

(10, 20, 30, 40, 50)

In [118]:
t[0]

10

In [119]:
t[-1]

50

In [120]:
t[1:3]

(20, 30)

In [121]:
# Reassigining not supported in tuple if we want convert list
t

(10, 20, 30, 40, 50)

In [122]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [123]:
l=list(t)

In [124]:
l

[10, 20, 30, 40, 50]

In [125]:
l[0]=100

In [126]:
l

[100, 20, 30, 40, 50]

In [127]:
t=tuple(l)

In [128]:
t

(100, 20, 30, 40, 50)

In [129]:
# Basic operations
t1=(10,20,30)
t2=(1,2,3)

In [130]:
t1+t2

(10, 20, 30, 1, 2, 3)

In [131]:
t1*2

(10, 20, 30, 10, 20, 30)

In [132]:
t1

(10, 20, 30)

In [133]:
len(t1)

3

In [134]:
min(t1)

10

In [135]:
max(t1)

30

In [136]:
sum(t2)

6

In [137]:
10 in t1

True

In [138]:
for i in t1:
    print(i)

10
20
30

In [139]:
for i in range(len(t1)):
    print(t1[i])

10
20
30

In [140]:
t2=t2*3

In [141]:
t2

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [142]:
t2.count(2)

3

In [143]:
t2.index(2) # index(element)

1

In [144]:
# Nested Tuples
t3=((10,20),(30,40,50))

In [145]:
t3[1][2]

50

In [146]:
# inserting multiuple data types
t4=(1,"hari",None,1.5,'k')

In [147]:
t4

(1, 'hari', None, 1.5, 'k')

In [148]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [149]:
del t2

In [150]:
t2

NameError: name 't2' is not defined

###### NOTE in only Tuple:-

In [151]:
t5=(23)  # it treate like a integer if we want to act this like a Tuple just place a , after inserting one leemnt

In [152]:
type(t5)

int

In [153]:
t6=(56,)

In [154]:
type(t6)

tuple

In [3]:
l=(10,20,10,30,40,"hari")
for i,j in enumerate(l):
    print(i,"-->",j)

0 --> 10
1 --> 20
2 --> 10
3 --> 30
4 --> 40
5 --> hari

# String
    - String is nothing but if we want to store a set of characters into one group it is called a sString
    - String is a Immutable 
    - in string each character treated like a 1 element

    - Creating a String
    - Accessing elements from Strings
    - Slicing
    - Single, Double, Triple Quotes
    - Format Method
    - Basic Operations :- +, *, len, min, max, sum, membership, iterations
    - Buil-In Methods
        * capitalize(): Converts the first character to uppercase.
        * center(width): Returns a centered string of specified width.
        * count(substring, start, end): Returns the number of occurrences of a substring.
        * endswith(suffix, start, end): Returns True if the string ends with the specified suffix.
        * startswith(prefix, start, end): Returns True if the string starts with the specified prefix.
        * find(substring, start, end): Returns the lowest index of the substring. Returns -1 if not found.
        * index(substring, start, end): Like find(), but raises an exception if the substring is not found.
        * rfind(substring, start, end): Returns the highest index of the substring.
        * rindex(substring, start, end): Like rfind(), but raises an exception if the substring is not found.
        * isalnum(): Returns True if all characters in the string are alphanumeric.
        * isalpha(): Returns True if all characters in the string are alphabetic.
        * isdigit(): Returns True if all characters in the string are digits.
        * isspace(): Returns True if all characters in the string are whitespace.
        * islower(): Returns True if all characters in the string are lowercase.
        * isupper(): Returns True if all characters in the string are uppercase.
        * istitle(): Returns True if the string is a titlecased string.
        * ljust(width): Returns a left-justified version of the string.
        * rjust(width): Returns a right-justified version of the string.
        * lower(): Converts all characters to lowercase.
        * upper(): Converts all characters to uppercase.
        * strip(chars): Removes leading and trailing characters specified in the argument (defaults to whitespace).
        * lstrip(chars): Removes leading characters specified in the argument (defaults to whitespace).
        * rstrip(chars): Removes trailing characters specified in the argument (defaults to whitespace).
        * max(): Returns the character with the highest ASCII value.
        * min(): Returns the character with the lowest ASCII value.
        * replace(old, new, count): Replaces occurrences of a substring with another substring.
        * split(sep, maxsplit): Splits the string into a list of substrings.
        * swapcase(): Swaps case of each character in the string.
        * title(): Returns a titlecased version of the string.
        * zfill(width): Pads the string with zeros on the left until it reaches the specified width.

In [155]:
str="Python"

In [156]:
type(str)

str

In [157]:
str[0]

'P'

In [158]:
str[-1]

'n'

In [159]:
str[0:3]

'Pyt'

In [160]:
str[-2]

'o'

In [161]:
str='Welcome to python Programming'
str[0:4]

'Welc'

In [162]:
# Single, Double, Triple Quotes
str='hari your's'

SyntaxError: unterminated string literal (detected at line 2) (194800489.py, line 2)

In [163]:
str="hari your's"

In [164]:
str

"hari your's"

In [165]:
str="""hari
krishna
kandukuru"""
str

'hari\nkrishna\nkandukuru'

In [166]:
# Formt Methods
str="hari krishna python practice"
print(f"given string is : {str}")

given string is : hari krishna python practice

In [167]:
# Basic operations
s1='hari'
s2='python'
s1+s2

'haripython'

In [168]:
s1+" "+s2

'hari python'

In [169]:
s1*3

'hariharihari'

In [170]:
s1

'hari'

In [171]:
len(s2)

6

In [172]:
s1

'hari'

In [173]:
min(s1)

'a'

In [174]:
max(s1)

'r'

In [175]:
sum(s1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [176]:
'a' in s1

True

In [177]:
for i in s1:
    print(i)

h
a
r
i

In [178]:
for i in range(len(s1)):
    print(s1[i])

h
a
r
i

In [179]:
s1

'hari'

In [180]:
s1[0]

'h'

In [181]:
s1[0]='k'  # reassignment is not accepted because it is immutable

TypeError: 'str' object does not support item assignment

In [182]:
del s1[0]

TypeError: 'str' object doesn't support item deletion

In [183]:
del s1

In [184]:
s1

NameError: name 's1' is not defined

In [185]:
# Built-in Methods
# 1) capitalize(): Converts the first character to uppercase.
s="welcome to python programming"
print(s.capitalize())

Welcome to python programming

In [186]:
# 2) center(width): Returns a centered string of specified width.
s="welcome to python programming"
print(s.center(50,"*"))

**********welcome to python programming***********

In [187]:
# 3) count(substring, start, end): Returns the number of occurrences of a substring.
s="welcome to python programming"
print(s.count('o',1,10))

2

In [188]:
# 4) endswith(suffix, start, end): Returns True if the string ends with the specified suffix.
s="welcome to python programming"
print(s.endswith('a',1,10))

False

In [189]:
s[9]

'o'

In [190]:
# 5) startswith(prefix, start, end): Returns True if the string starts with the specified prefix.
s="welcome to python programming"
print(s.startswith('a',1,10))

False

In [191]:
# 6) find(substring, start, end): Returns the lowest index of the substring. Returns -1 if not found.
s="welcome to python programming"
print(s.find('hari'))

-1

NOTE :- difference b/w find and index if the substring is not present in string find will throw as -1 output and index will throw an error as output

In [192]:
s="welcome to python programming"
print(s.index('hari'))

ValueError: substring not found

In [193]:
s="welcome to python programming"
print(s.find('m'))

5

In [194]:
# 7) index(substring, start, end): Like find(), but raises an exception if the substring is not found.
s="welcome to python programming"
print(s.index('m'))

5

In [195]:
# 8) rfind(substring, start, end): Returns the highest index of the substring.
s="welcome to python programming"
print(s.rfind('m'))

25

In [196]:
s[25]

'm'

In [197]:
# 9) rindex(substring, start, end): Like rfind(), but raises an exception if the substring is not found.
s="welcome to python programming"
print(s.rindex('m'))

25

In [198]:
# 10) isalnum(): Returns True if all characters in the string are alphanumeric.
s='Haricme1325@gmail.com'
print(s.isalnum())

False

In [199]:
s="welcome to python programming 123"
print(s.isalnum())

False

#### Note above program is getting error why, because space also caliculated as special character

In [200]:
s="programming123"
print(s.isalnum())

True

In [201]:
s="programming"
print(s.isalnum())

True

In [202]:
s="123"
print(s.isalnum())

True

In [203]:
# 11) isalpha(): Returns True if all characters in the string are alphabetic.
s="programming"
print(s.isalpha())

True

In [204]:
s="programming123"
print(s.isalpha())

False

In [205]:
# 12) isdigit(): Returns True if all characters in the string are digits.
s="programming123"
print(s.isdigit())

False

In [206]:
s="123"
print(s.isdigit())

True

In [207]:
# 13) isspace(): Returns True if all characters in the string are whitespace.
s="programming123"
print(s.isspace())

False

In [208]:
s=" programming123"
print(s.isspace())

False

In [209]:
s="  programming hari  "
print(s.isspace())

False

In [210]:
s="  "
print(s.isspace())

True

In [211]:
# 14) islower(): Returns True if all characters in the string are lowercase.
s="  programming hari  "
print(s.islower())

True

In [212]:
s="programming hari123"
print(s.islower())

True

In [213]:
s="Programming hari123"
print(s.islower())

False

In [214]:
# 15 isupper(): Returns True if all characters in the string are uppercase.
s="Programming hari123"
print(s.isupper())

False

In [215]:
s="P123"
print(s.isupper())

True

In [216]:
# 16) istitle(): Returns True if the string is a titlecased string.
s="Programming Hari123"
print(s.istitle())

True

In [217]:
s="Programming hari123"
print(s.istitle())

False

In [218]:
# 17) ljust(width): Returns a left-justified version of the string. justified means same like center
s="Programming hari123"
print(s.ljust(30,"9"))

Programming hari12399999999999

In [219]:
# 18) rjust(width): Returns a right-justified version of the string.
s="Programming hari123"
print(s.rjust(30,"9"))

99999999999Programming hari123

In [220]:
# 19) lower(): Converts all characters to lowercase.
s="Harikrishna KANDUKURU 1325@"
print(s.lower())

harikrishna kandukuru 1325@

In [221]:
# 20) upper(): Converts all characters to uppercase.
s="Harikrishna KANDUKURU 1325@"
print(s.upper())

HARIKRISHNA KANDUKURU 1325@

In [222]:
# 21) strip(chars): Removes all the right & left side whitespacess
s="      Harikrishna KANDUKURU 1325@  "
print("before removing whiteSpacess length of String is : ",len(s))
print(s.strip())
print("after removing whiteSpacess length of String is : ",len(s.strip()))

before removing whiteSpacess length of String is :  35
Harikrishna KANDUKURU 1325@
after removing whiteSpacess length of String is :  27

In [223]:
# 22) lstrip(chars): Removes leading characters specified in the argument (defaults to whitespace).
s="      Harikrishna KANDUKURU 1325@  "
print("before removing whiteSpacess length of String is : ",len(s))
print(s.lstrip())
print("after removing whiteSpacess length of String is : ",len(s.lstrip()))

before removing whiteSpacess length of String is :  35
Harikrishna KANDUKURU 1325@
after removing whiteSpacess length of String is :  29

In [224]:
# 23) rstrip(chars): Removes trailing characters specified in the argument (defaults to whitespace).
s="      Harikrishna KANDUKURU 1325@  "
print("before removing whiteSpacess length of String is : ",len(s))
print(s.rstrip())
print("after removing whiteSpacess length of String is : ",len(s.rstrip()))

before removing whiteSpacess length of String is :  35
      Harikrishna KANDUKURU 1325@
after removing whiteSpacess length of String is :  33

In [225]:
# 24)  max(): Returns the character with the highest ASCII value
s="Harikrishna KANDUKURU123"
print(max(s))

s

In [226]:
# 25)  min(): Returns the character with the lowest ASCII value
s="HarikrishnaKANDUKURU123"
print(min(s))

1

In [227]:
# 26) replace(old, new, count): Replaces occurrences of a substring with another substring.
s="Hari krishna KANDUKURU 123 @ gmail.com"
print(s.replace('.','%'))

Hari krishna KANDUKURU 123 @ gmail%com

In [228]:
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.replace('.','%',2))

Hari kri%shna% KAN.DUK.URU 123 @ gmail.com

In [229]:
# 27) split(sep, maxsplit): Splits the string into a list of substrings.
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.split('.'))

['Hari kri', 'shna', ' KAN', 'DUK', 'URU 123 @ gmail', 'com']

In [230]:
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.split('.',4))

['Hari kri', 'shna', ' KAN', 'DUK', 'URU 123 @ gmail.com']

In [231]:
# 28) swapcase(): Swaps case of each character in the string. # lowers are converted into upper and upper are converted into lower
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.swapcase())

hARI KRI.SHNA. kan.duk.uru 123 @ GMAIL.COM

In [232]:
# 29) title(): Returns a titlecased version of the string.
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.title())

Hari Kri.Shna. Kan.Duk.Uru 123 @ Gmail.Com

In [233]:
# 30) zfill(width): Pads the string with zeros on the left until it reaches the specified width.
s="Hari kri.shna. KAN.DUK.URU 123 @ gmail.com"
print(s.zfill(60))

000000000000000000Hari kri.shna. KAN.DUK.URU 123 @ gmail.com

# Sets
    - set is a data sctucture in python
    - and sets are unOrdered
    - sets wont support the indexing So no slicing
    - sets are mutable we can change as per our requirements
    - we can store multiple data types by providing comma separated values with curly braces{}
    - sets wont allow duplicates and if we convert list into set that time may be duplicates are present in list, 
      set automatically drop duplicates
    - Some performing mathematical operations we will use Sets like

    - Creating Sets
    - Set as an iterable
    - Basec Operations
        * add(element): Adds an element to the set.
        * remove(element): Removes the specified element from the set. Raises an error if the element is not present.
        * discard(element): Removes the specified element from the set. Does nothing if the element is not present.
        * pop(): Removes and returns an arbitrary element from the set. Raises an error if the set is empty.
        * clear(): Removes all elements from the set.
        * len(): Returns the number of elements in the set.
        * membership(element): Returns True if the element is present in the set, False otherwise.
        * issubset(other_set): Returns True if the set is a subset of the specified set.
        * issuperset(other_set): Returns True if the set is a superset of the specified set.
        * union(other_set, ...): Returns a new set containing elements from the set and all specified sets.
        * intersection(other_set, ...): Returns a new set containing common elements of the set and all specified sets.
        * difference(other_set, ..): Returns a new set containing elements present in the set but not in the specified sets.
        * copy(): Returns a shallow copy of the set.
        * symmetric_difference(other_set): Returns a new set containing elements that are in either set, but not in both.
        * update(other_set, ...): Updates the set with elements from itself and all specified sets.
        * intersection_update(other_set, ...): Updates the set with the intersection of itself and all specified sets.
        * difference_update(other_set, ...): Updates the set with the difference of itself and all specified sets.
        * symmetric_difference_update(other_set): Updates the set with the symmetric difference of itself and the 
          specified set.

In [234]:
s=()

In [235]:
type(s)

tuple

In [236]:
s=set()

In [237]:
type(s)

set

In [238]:
# or
s={10,20,30,40,50,1,2,3,4,5}
print(s,"\n",type(s))

{1, 2, 3, 4, 5, 40, 10, 50, 20, 30}
 <class 'set'>

In [239]:
# or
s={10,20,30,40,40,40,50,1,2,3,4,5}
print(s,"\n",type(s))

{1, 2, 3, 4, 5, 40, 10, 50, 20, 30}
 <class 'set'>

In [240]:
s.add(99)

In [241]:
s.add(100)

In [242]:
s

{1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 99, 100}

In [243]:
s.remove(2)

In [244]:
s

{1, 3, 4, 5, 10, 20, 30, 40, 50, 99, 100}

In [245]:
s.discard(3)

In [246]:
s

{1, 4, 5, 10, 20, 30, 40, 50, 99, 100}

Difference b/w remove and discard is :- remove Raises an error if the element is not present & discard Does nothing if the element is not present.

In [247]:
s.remove(1000)

KeyError: 1000

In [248]:
s.discard(1000)

In [249]:
s

{1, 4, 5, 10, 20, 30, 40, 50, 99, 100}

In [250]:
s.pop()   # based on set point of view it will remove the last element

1

In [251]:
s

{4, 5, 10, 20, 30, 40, 50, 99, 100}

In [252]:
s.clear()

In [253]:
s

set()

In [254]:
s={10,20,30}

In [255]:
type(s)

set

In [256]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [257]:
del s

In [258]:
s

NameError: name 's' is not defined

In [259]:
s={10,20,30,1000,40,1,2,3,4}
s

{1, 2, 3, 4, 10, 20, 30, 40, 1000}

In [260]:
len(s)

9

In [261]:
# membership
10 in s

True

In [262]:
2000 not in s

True

In [263]:
s[0]

TypeError: 'set' object is not subscriptable

In [264]:
for i in s:
    print(i)

1
2
3
4
1000
40
10
20
30

In [265]:
for i in range(len(s)):
    print(s[i])

TypeError: 'set' object is not subscriptable

In [266]:
# issubset(other_set): Returns True if the set is a subset of the specified set.
s1={10,20,30}
s2={10,20,30,40,50,60}
s1.issubset(s2)

True

In [267]:
# issuperset(other_set): Returns True if the set is a superset of the specified set.
s1={10,20,30}
s2={10,20,30,40,50,60}
s1.issuperset(s2)

False

In [268]:
# union(other_set, ...): Returns a new set containing elements from the set and all specified sets.
s1={10,20,30}
s2={10,20,30,40,50,60}
s1.union(s2)

{10, 20, 30, 40, 50, 60}

In [269]:
# intersection(other_set, ...): Returns a new set containing common elements of the set and all specified sets.
s1={10,20,30}
s2={10,20,30,40,50,60}
s1.intersection(s2)

{10, 20, 30}

In [270]:
# difference(other_set, ..): Returns a new set containing elements present in the set but not in the specified sets.
s1={10,20,30}
s2={10,20,30,40,50,60}
s2.difference(s1)

{40, 50, 60}

In [271]:
# symmetric_difference(other_set): Returns a new set containing elements that are in either set, but not in both.
s1={10,20,30,100}
s2={10,20,30,40,50,60}
s1.symmetric_difference(s2)

{40, 50, 60, 100}

In [272]:
# update(other_set, ...): Updates the set with elements from itself and all specified sets.
s1={10,20,30,100}
s2={10,20,30,40,50,60}
s1.update(s2)

In [273]:
s1

{10, 20, 30, 40, 50, 60, 100}

In [274]:
# intersection_update(other_set, ...): Updates the set with the intersection of itself and all specified sets.
s1={10,20,30,100}
s2={10,20,30,40,50,60}
s1.intersection_update(s2)

In [275]:
s1

{10, 20, 30}

In [276]:
# difference_update(other_set, ...): Updates the set with the difference of itself and all specified sets.
s1={10,20,30,100}
s2={10,20,30,40,50,60}
s1.difference_update(s2)

In [277]:
s1

{100}

In [278]:
# symmetric_difference_update(other_set): Updates the set with the symmetric difference of itself and the specified set.
s1={10,20,30,100}
s2={10,20,30,40,50,60}
s1.symmetric_difference_update(s2)

In [279]:
s1

{40, 50, 60, 100}

# Dictionaries
    - in dictionarys we will store elements(items) like key value pairs
    - dictionary is a mutable 
    - in dictionary it can accept multiple data types
    - in dictionary it won'nt accept duplicated keys
    - we can access elements throuth keys

    - Creating a Dictionary
    - Accessing items from dictionary
    - Updating Dictionary
    - Reassigning items
    - Deleting items
    - Dictionary Comprehension
    - Built-In Methods
        * clear()
        * copy()
        * items()
        * values()
        * keys()
        * update()

In [280]:
d={}

In [281]:
type(d)

dict

In [282]:
d=dict()

In [283]:
type(d)

dict

In [284]:
d={"name":'Hari',"perc":1000}

In [285]:
d

{'name': 'Hari', 'perc': 1000}

In [286]:
d.items()

dict_items([('name', 'Hari'), ('perc', 1000)])

In [287]:
d.keys()

dict_keys(['name', 'perc'])

In [288]:
d.values()

dict_values(['Hari', 1000])

In [289]:
d['name']

'Hari'

In [290]:
d['perc']

1000

In [291]:
d['perc']=70

In [292]:
d

{'name': 'Hari', 'perc': 70}

In [293]:
d['collage']='Imarticus Learning'

In [294]:
d

{'name': 'Hari', 'perc': 70, 'collage': 'Imarticus Learning'}

In [295]:
len(d)

3

In [296]:
del d['collage']

In [297]:
d

{'name': 'Hari', 'perc': 70}

In [298]:
len(d)

2

In [299]:
del d

In [300]:
d

NameError: name 'd' is not defined

In [301]:
d={"name":'Hari',"perc":1000}

In [302]:
d

{'name': 'Hari', 'perc': 1000}

In [303]:
d.clear()

In [304]:
d

{}

In [305]:
d={"name":'Hari',"perc":1000}

In [306]:
d1={'collage':'Imarticus Learning'}

In [307]:
d.update(d1)

In [308]:
d

{'name': 'Hari', 'perc': 1000, 'collage': 'Imarticus Learning'}

In [309]:
d={i:i*2 for i in range(11)}

In [310]:
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}