In [1]:
for i in range(2024,2051):
    if (i%400==0) or (i%4==0 and i%100!=0):
        print(i)

2024
2028
2032
2036
2040
2044
2048

In [4]:
from collections import Counter
numb=[723,34,56,3,5,6,44,44]
x=Counter(numb)
print(Counter(numb))
print(x)

Counter({44: 2, 723: 1, 34: 1, 56: 1, 3: 1, 5: 1, 6: 1})
Counter({44: 2, 723: 1, 34: 1, 56: 1, 3: 1, 5: 1, 6: 1})

# 1)Positive or Negative Number

In [18]:
x=input("enter a number to find positive or negative :")
num=int(x)
if num<0:
    print(f"num = {num} is not positive")
else:
    print(f"num = {num} is positive")

enter a number to find positive or negative :-56
num = -56 is not positive

# 2)Even or Odd Number

In [19]:
num=input("enter a number to find even or odd :")
x=int(num)
if x%2==0:
    print("even")
else:
    print("not even")

enter a number to find even or odd :45
not even

# 3)Sum of Natural numbers

In [22]:
x=input("enter a ending number for summing 0 to n number :")
x=int(x)
total_sum=0
for i in range(0,x+1):
    total_sum += i
print(f'sum of natural numbers from 0 to {x} is = {total_sum}')

enter a ending number for summing 0 to n number :5
sum of natural numbers from 0 to 5 is = 15

# 4)Sum of numbers in a given range

In [20]:
x,y=input("enter a starting and ending number by using',' for summing all numbers :").split(',')
x=int(x)
y=int(y)
summing=0
for i in range(x,y+1):
    summing=summing+i
print(f'sum of natural numbers b/w {x} and {y} = {summing}')

enter a starting and ending number by using',' for summing all numbers :1,5
sum of natural numbers b/w 1 and 5 = 15

# 5)Greatest of two numbers

In [24]:
x=int(input("enter 1st number : "))
y=int(input("enter 2nd number : "))
gratest=x
if y>gratest:
    gratest=y
print(f"greatest number is {gratest}")

enter 1st number : 345
enter 2nd number : 67
greatest number is 345

# 6)Greatest of the Three numbers

In [29]:
x,y,z=input("enter 3 number's by splitting ',' for finding biggest ").split(',')
x=int(x)
y=int(y)
z=int(z)
biggest=0
if x>y and x>z:
    biggest=x
elif y>x and y>z:
    biggest=y
else:
    biggest=z
print(f"biggest = {biggest}")

enter 3 number's by splitting ',' for finding biggest 23,4,6
biggest = 23

In [26]:
num=[1,2,3]
max(num)

3

In [75]:
x,y,z=input("enter 3 number's by splitting ',' for finding biggest ").split(',')
x=int(x)
y=int(y)
z=int(z)
biggest=x
if y>biggest:
    biggest=y
if z>biggest:
    biggest=z
print("biggest =",biggest)

enter 3 number's by splitting ',' for finding biggest 1,23,5
biggest = 23

# 7)Leep year or not

In [41]:
year=input("enter a year to find leap year or not : ")
year=int(year)
if (year%400==0)or(year%4==0 and year%100!=0):
    print(f"{year} is Leep Year")
else:
    print(f"{year} is not Leep Year")

enter a year to find leap year or not : 2020
2020 is Leep Year

In [6]:
start=int(input("enter a number start : "))
end=int(input("enter a number ending : "))
for i in range(start,end+1):
    if (i%4==0 and i%100!=0)or (i%400==0):
        print(i,end=" ")

enter a number start : 2000
enter a number ending : 2023
2000 2004 2008 2012 2016 2020

# 8) Prime number or not

In [65]:
number=int(input("enter a number to find prime number or not : "))
for i in range(2,number):
    if number%i==0:
        print("not prime")
        break
else:
    print("prime")

enter a number to find prime number or not : 9
not prime

In [132]:
number=int(input("enter a number to find prime number or not : "))
count=1
for i in range(2,number):
    if number%i==0:
        count+=1
print("count =",count)
if count==1:
    print("prime")
else:
    print("not a prime")

enter a number to find prime number or not : 11
count = 1
prime

In [17]:
x=int(input("enter a number : "))
count=0
print("divisible numbers are : ")
for i in range(2,x):
    if x%i==0:
        print(i,end=" ")
        count+=1
if count==0:
    print(f"{x}prime")
else:
    print(f"\nSo {x} is not prime")

enter a number : 35
divisible numbers are :
5 7
So 35 is not prime

# *) Extract prime numbers given a Number

In [156]:
num=int(input("enter a number : "))
lis = [int(digit) for digit in str(num)]
prime=[]
non_prime=[]
for i in lis:
    if i==1 or i==2 or i==3 or i==5 or i==7 or i==9:
        prime.append(i)
    else:
        non_prime.append(i)
print(f"given numbers {num}")
print(f"prime numbers are : {prime}")
print(f"non-prime numbers are : {non_prime}")

enter a number : 1234567890
given numbers 1234567890
prime numbers are : [1, 2, 3, 5, 7, 9]
non-prime numbers are : [4, 6, 8, 0]

In [19]:
primeumbers=[]
for i in range(1,200):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        primeumbers.append(i)
print(primeumbers)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

# 9)Prime numbers given Range

In [167]:
start,end=input("enter staring and ending numbers by using ',' for finding prime numbers").split(",")
start=int(start)
end=int(end)
for i in range(start,end):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

enter staring and ending numbers by using ',' for finding prime numbers1,11
1
2
3
5
7

# 10) user entered number is special 2 digit or not

In [89]:
# ex :- 59 --> 5+9+5*9=59 so it is a special 2 digit number  
num=int(input("enter a number to find 2 digit or not : "))
d1=num//10
d2=num%10
tot=d1+d2+d1*d2
if num==tot:
    print(f'actual is {num} predicted as {tot} so it is a special 2 digit number')
else:
    print(f"actual is {num} predicted as {tot} so it is a not special 2 digit number")

enter a number to find 2 digit or not : 59
actual is 59 predicted as 59 so it is a special 2 digit number

# 11) user enterd 2 numbers are same or not

In [88]:
n1,n2=input("enter 2 numbers by using ',' for finding 2 numbers are same or not ").split(",")
n1=int(n1)
n2=int(n2)
if n1==n2:
    print(f"{n1} and {n2} givenare same")
else:
    print(f"{n1} and {n2} are not same")

enter 2 numbers by using ',' for finding 2 numbers are same or not 34,34
34 and 34 are same

# 12) by entering 4 subjects marks predicting pass or fail

In [98]:
x1,x2,x3,x4=input("enter 4 subjects marks by using ',' to predict pass or fail :").split(',')
x1=int(x1)
x2=int(x2)
x3=int(x3)
x4=int(x4)
if (x1>=35 and x2>=35 and x3>=35 and x4>=35):
    print("pass")
else:
    print("fail")

enter 4 subjects marks by using ',' to predict pass or fail :29,34,56,56
fail

# 13) find weather Digit or number

In [111]:
x=int(input("enter a number :"))
if (x>=-9 and x<=9):
    print("digit")
else:
    print("number")

enter a number :10
number

# 14) read a month number and predict how many dayes

In [116]:
month=int(input("enter a number : "))
if (month >=1 and month <=12):
    if (month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12):
        print("31 dayes")
    elif month==2:
        print("28 or 29 dayes")
    else:
        print("30 dayes")
else:
    print("please enter valid month number")

enter a number : 4
30 dayes

In [160]:
lis=[1,2,3,4,5]
x=lis[1]
y=lis[3]
lis[1]=y
lis[3]=x
lis

[1, 4, 3, 2, 5]

# 15) Count the Frequency of Each element in a list

In [23]:
lis

['Hari', 'Krishna', 'Hari', 'hari', 1, 2, 3, 4, 1, 2, 3, 234]

In [22]:
def count_freq(x):
    dic={}
    for i in x:
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    for a,b in dic.items():
        print(a,"-->",b)
count_freq(lis)

Hari --> 2
Krishna --> 1
hari --> 1
1 --> 2
2 --> 2
3 --> 2
4 --> 1
234 --> 1

In [8]:
lis=[1,2,3,4,5,1,2,3]
def count_frequency(x):
    freq={}
    for i in x:
        if i in freq:
            freq[i]+=1
        else:
            freq[i]=1
    for i,j in freq.items():
        print(i,"--->",j)
count_frequency(lis)

1 ---> 2
2 ---> 2
3 ---> 2
4 ---> 1
5 ---> 1

In [20]:
lis

['Hari', 'Krishna', 'Hari', 'hari', 1, 2, 3, 4, 1, 2, 3, 234]

Hari --> 2
Krishna --> 1
hari --> 1
1 --> 2
2 --> 2
3 --> 2
4 --> 1
234 --> 1

In [25]:
from collections import Counter
Counter(lis)

Counter({'Hari': 2, 'Krishna': 1, 'hari': 1, 1: 2, 2: 2, 3: 2, 4: 1, 234: 1})

In [164]:
from collections import Counter
x=[1,2,3,4,5,1,345,2,3,56]
Counter(x)

Counter({1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 345: 1, 56: 1})

In [178]:
def count_freq(x):
    dictionary1={}
    for i in x:
        if i in dictionary1:
            dictionary1[i]+=1
        else:
            dictionary1[i]=1
    return dictionary1
lis=[1,2,3,4,5,6,1,2,3,4,5,1,2,3,4,5,12,'hari',234,'23']
res=count_freq(lis)
for i,j in res.items():
    print(i,"--->",j)

1 ---> 3
2 ---> 3
3 ---> 3
4 ---> 3
5 ---> 3
6 ---> 1
12 ---> 1
hari ---> 1
234 ---> 1
23 ---> 1

In [1]:
my_list = [1, 2, 3, 2, 4, 5, 6, 1]

unique_set = set()
duplicates_set = set()

for item in my_list:
    if item in unique_set:
        duplicates_set.add(item)
    else:
        unique_set.add(item)

print("Duplicated elements:", list(duplicates_set))

Duplicated elements: [1, 2]

In [28]:
def dup_uni(x):
    dup=set()
    unique=set()
    for i in x:
        if i in unique:
            dup.add(i)
        else:
            unique.add(i)
    print(f"given list is : {x}\nunique elements are : {unique}\nduplicated elements are : {dup}")
dup_uni(lis)

given list is : ['Hari', 'Krishna', 'Hari', 'hari', 1, 2, 3, 4, 1, 2, 3, 234]
unique elements are : {1, 2, 3, 4, 'Hari', 234, 'Krishna', 'hari'}
duplicated elements are : {1, 2, 3, 'Hari'}

In [11]:
listt=[1,2,3,1,2,3,4,1,2,3]
unique_set=set()
duplicated_sset=set()
for i in listt:
    if i in unique_set:
        duplicated_sset.add(i)
    else:
        unique_set.add(i)
print(f"Duplicated elements are {duplicated_sset}")

Duplicated elements are {1, 2, 3}

1) replacing the numbers from a list
2) frequency of each element from a list
3) duplicated elements from the list

In [13]:
# 1 replacing the numbers from a list
lis=[1,2,3,4,5]
x=lis[1]
y=lis[3]
lis[1]=y
lis[3]=x
lis

[1, 4, 3, 2, 5]

In [20]:
# 2) Frequency of each element
def freq(x):
    empty_dict={}
    for i in x:
        if i in empty_dict:
            empty_dict[i]+=1
        else:
            empty_dict[i]=1
    return empty_dict
output=freq(lis)
for i,j in output.items():
    print(i,"--->",j)

1 ---> 1
4 ---> 1
3 ---> 1
2 ---> 1
5 ---> 1

In [27]:
# 3) duplicates in list
list1=[1,2,3,1,2,34]
unique=set()
non_unique=set()
for i in list1:
    if i in unique:
        non_unique.add(i)
    else:
        unique.add(i)
print("given elements are =",list1)
print("unique elements are :",list(unique))
print("Duplicated elements are :",list(non_unique))

given elements are = [1, 2, 3, 1, 2, 34]
unique elements are : [1, 2, 3, 34]
Duplicated elements are : [1, 2]

In [3]:
lis=[1,2,3,1,2,3,1,2,3,12,34]
def count_fre(x):
    dic={}
    for i in x:
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    return dic
res=count_fre(lis)
for i,j in res.items():
    print(i,"-->",j)

1 --> 3
2 --> 3
3 --> 3
12 --> 1
34 --> 1

In [11]:
lis=[1,2,3,4,5,6,7,1]
unique=set()
duplicated=set()
for i in lis:
    if i in unique:
        duplicated.add(i)
    else:
        unique.add(i)
print("duplicate :",duplicated)

duplicate : {1}

In [39]:
num=int(input("enter a number to find prime or not prime : "))
count=1
for i in range(2,num):
    if num%i==0:
        count+=1
if count==1:
    print("prime")
else:
    print("not prime")

enter a number to find prime or not prime : 54
not prime

In [40]:
start,end=input("enter starting & ending numbers by givibg ',' :").split(",")
start=int(start)
end=int(end)
for i in range(start,end+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end=", ")

enter starting & ending numbers by givibg ',' :1,1111
1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109,

In [5]:
def frequency(x):
    dic={}
    for i in x:
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    print("element  no times repeated\n------- ------------------------")
    for i,j in dic.items():
        print(i,"--->",j)
lis=["Hari","Krishna","Hari","hari",1,2,3,4,1,2,3,234]
frequency(lis)

element  no times repeated
------- ------------------------
Hari ---> 2
Krishna ---> 1
hari ---> 1
1 ---> 2
2 ---> 2
3 ---> 2
4 ---> 1
234 ---> 1

In [20]:
# duplicates or not
def duplicates(x):
    unique=set()
    repeatedVa=set()
    for i in x:
        if i in unique:
            repeatedVa.add(i)
        else:
            unique.add(i)
    print("Original values : ",x)
    print("Unique  values : ",unique)
    print("Repeated  values : ",repeatedVa)
l=[1,2,3,4,1,2,3,12]
duplicates(l)
frequency(l)

Original values :  [1, 2, 3, 4, 1, 2, 3, 12]
Unique  values :  {1, 2, 3, 4, 12}
Repeated  values :  {1, 2, 3}
element  no times repeated
------- ------------------------
1 ---> 2
2 ---> 2
3 ---> 2
4 ---> 1
12 ---> 1

In [29]:
# prime number or not
num = int(input("enter a number for prime or not : "))
count=1
for i in range(2,num):
    if num%i==0:
        count+=1
if count==1:
    print("prime")
else:
    print("not prime")

enter a number for prime or not : 13
prime

In [35]:
# prime numbers b/w ranges
start,end=input("enter starting and ending numbers by giving ',' for prime numbers : ").split(",")
start=int(start)
end=int(end)
for i in range(start,end+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end=" ")

enter starting and ending numbers by giving ',' for prime numbers : 1,1000
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [1]:
name="irah"
name[::-1]

'hari'

In [29]:
st=input("enter a string : ")
print(st[::-1])

enter a string : hari
irah

# Reversing a Sting

In [19]:
name=input("enter a name : ")
name[::-1]

enter a name : hari

'irah'

In [20]:
def reverse_string(x):
    reverse=''
    for i in range(len(x) -1,-1,-1):
        reverse +=x[i]
    return reverse
name=input("enter a name : ")
reverse_string(name)

enter a name : iraha

'ahari'

In [30]:
def rev(x):
    reverse_str=""
    for i in range(len(x) -1,-1,-1):
        reverse_str+=x[i]
    return reverse_str
inp=input("enter a string : ")
rev(inp)

enter a string : fkh

'hkf'

# Palindrom or Not

In [27]:
name=input("enter a string for checking palindrom or not : ")
if name==name[::-1]:
    print("it is a palindrom")
else:
    print("it is not palindrom")
print(f"original ={name}\nreversed ={name[::-1]}")

enter a string for checking palindrom or not : hari
it is not palindrom
original =hari
reversed =irah

# Largest element in a Given List

In [41]:
lis=[23,45,76,34]
largest=0
for i in lis:
    if i>largest:
        largest=i
print(f"largest number is ={largest}")

largest number is =76

In [31]:
lis=[1,2,3,4,5]
large=0
for i in lis:
    if i>large:
        large=i
print(large)

5

In [18]:
lis=[23,45,76,34]
lis.sort(reverse=True)
print(lis)
lis[1]

[76, 45, 34, 23]

45

# Count the Occurance of Each element

In [45]:
def count_freq(x):
    count={}
    for i in x:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    for i,j in count.items():
        print(i,"--->",j)
listt=[12,34,5,12,45,7]
count_freq(listt)

12 ---> 2
34 ---> 1
5 ---> 1
45 ---> 1
7 ---> 1

# Second largest in a list

In [46]:
lis=[1,2,3,4,76,5,34,76,3,56,2,234,4]

In [51]:
lis.sort(reverse=True)
se=set(lis)
li=list(se)
li.sort(reverse=True)
li[2]

56

In [50]:
def second_largest(x):
    for i in x:
        x.sort(reverse=True)
    return lis[1]
lis=[1,2,3,4,5,6]
second_largest(lis)

5

In [68]:
# Method --> 2
lis=[1,3,56,3,56,67,67]
print(f"original List ={lis}")
lis=set(lis)
lis=list(lis)
print(f"After Removing Duplicates List ={lis}")
for i in lis:
    lis.sort(reverse=True)
print(f"the Sorted List is {lis}")
print(f"second largest element is = {lis[1]} ")

original List =[1, 3, 56, 3, 56, 67, 67]
After Removing Duplicates List =[56, 1, 67, 3]
the Sorted List is [67, 56, 3, 1]
second largest element is = 56

# Removing a Duplicates

In [75]:
def remove_dup(x):
    unique=set()
    duplic=set()
    for i in x:
        if i in unique:
            duplic.add(i)
        else:
            unique.add(i)
    print(f"original elements are : {x}")
    print(f"unique elements are : {unique}")
    print(f"Duplicate elements are : {duplic}")
lis=[1,2,3,4,4]
remove_dup(lis)

original elements are : [1, 2, 3, 4, 4]
unique elements are : {1, 2, 3, 4}
Duplicate elements are : {4}

# Factorial of a Given Number

In [81]:
number=int(input("enter a Number : "))
tot=1
for i in range(2,number+1):
    tot*=i
print(f"Factorial of ({number}) = {tot}")

enter a Number : 4
Factorial of (4) = 24

In [53]:
def facto(x):
    if x==0 or x==1:
        return 1
    else:
        return x*facto(x-1)
facto(5)

120

In [20]:
def fact(x):
    if x==0 or x==1:
        return 1
    else:
        return x*fact(x-1)
fact(5)

120

# Number is Prime or not

In [85]:
num=int(input("enter a number to check prime or not : "))
count=1
for i in range(2,num):
    if num%i==0:
        count+=1
if count==1:
    print(f"{num} is a Prime Number")
else:
    print(f"{num} is not a Prime Number")

enter a number to check prime or not : 3
3 is a Prime Number

# Sum of all Numbers in a List

In [86]:
lis=[1,2,3,4,5]
sum=0
for i in lis:
    sum=sum+i
print(sum)

15

# common elements b/w 2 linst

In [88]:
def common_ele(x,y):
    dup=[]
    for i in y:
        if i in x:
            dup.append(i)
    return dup
lis1=[1,2,3]
lis2=[1,23,4,2]
common_ele(lis1,lis2)

[1, 2]

In [55]:
lis1=[1,2,3]
lis2=[1,23,4,2]
dup=[]
for i in lis1:
    if i in lis2:
        dup.append(i)
print(dup)

[1, 2]

# Removing all Vowels present in a String

In [91]:
stri=input("enter a any name for removing Vowels : ")
for i in stri:
    if i in ['A','E','I','O','U','a','e','i','o','u']:
        continue
    else:
        print(i,end="")

enter a any name for removing Vowels : aeiouah
h

In [96]:
name="irah"
empty=''
for i in range(len(name)-1,-1,-1):
    empty+=name[i]
print(empty)

hari

# Sum of all Even numbers and Odd numbers

In [99]:
lis=[1,2,3,4,5,6,7,8,9]
sum_E=0
sum_O=0
for i in lis:
    if i%2==0:
        sum_E+=i
    else:
        sum_O+=i
print(f"Sum of Even Numbers = {sum_E}")
print(f"Sum of Odd  Numbers = {sum_O}")

Sum of Even Numbers = 20
Sum of Odd  Numbers = 25

# Product of All elements in a List

In [101]:
lis=[1,2,3,5,10]
prod=1
for i in lis:
    prod*=i
print(f"product of all numbers in given list = {prod}")

product of all numbers in given list = 300

# Sum of Digits

In [114]:
num=int(input("enter a Number : "))
total=0
while num>0:
    x=num%10
    total+=x
    num//=10
print(f"total = {total}")

enter a Number : 12345
total = 15

# Remove all the duplicates from a String

In [56]:
def remove_dup_str(x):
    x=list(x)
    unique=set()
    dup=set()
    for i in x:
        if i in unique:
            unique.add(i)
        else:
            dup.add(i)
    print(unique)
oop=input("enter a stering : ")
remove_dup_str(oop)

enter a stering : haaari
set()

In [61]:
def remove_duplicates(input_str):
    unique_chars = set(input_str)
    result_str = ''.join(unique_chars)
    return result_str

# Example
original_string = "hariirahhari"
result = remove_duplicates(original_string)
print(result)

irah

In [115]:
def duplicated(s):
    s1=s.split(' ')
    count={}
    for i in s1:
        if i not in count:
            count[i]=1
        else:
            s1.remove(i)
    return ' '.join(s1)
s="hello hello world hello ok"
duplicated(s)

'world hello ok'

In [3]:
# name from 2nd place
def name(fname,start):
    print(fname[start:])
fname,number=input("enter a name and index by providing ',' : ").split(",")
number=int(number)
name(fname,number)

enter a name and index by providing ',' : Harikrishna,4
krishna

In [67]:
name,start=input("enter name with position where it start : ").split(",")
start=int(start)
print(name[start:])

enter name with position where it start : im not jeevan sir,5
t jeevan sir