Section A:

1. Create a tuple with the values 1, 2, and 3. Write a function to return the sum of the tuple elements. 

2. Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension. 

3. Write a program to print all even numbers from 1 to 10 using a for loop and if condition. 

4. Write a function that accepts any number of arguments and returns their sum. 

5. Write a Python program to find the elements that are unique to each of the following lists l1 and l2 
	l1=[1,10,3,4,5,2] 
	l2=[1,2,3,8,9]

In [4]:
# 1) Create a tuple with the values 1, 2, and 3. Write a function to return the sum of the tuple elements.
def tup_sum(x):
    tot=0
    for i in x:
        tot=tot+i
    return tot
tuple1=(1,2,3)
result=tup_sum(tuple1)
result

6

In [9]:
# 2) Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
res=[i**2 for i in range(1,10+1)]
res

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# 3) Write a program to print all even numbers from 1 to 10 using a for loop and if condition.
for i in range(1,10+1):
    if i%2==0:
        print(i)

2
4
6
8
10

In [18]:
# 4) Write a function that accepts any number of arguments and returns their sum.
def ret_sum(*x):
    total1=0
    for i in x:
        total1=total1+i
    return total1
re=ret_sum(1,2,3,56)
re

62

In [38]:
'''
5) Write a Python program to find the elements that are unique to each of the following 
lists l1 and l2 l1=[1,10,3,4,5,2] l2=[1,2,3,8,9]
'''
l1=[1,10,3,4,5,2]
l2=[1,2,3,8,9]

unique_l1=[]
unique_l2=[]
for i in l1:
    if i not in l2:
        unique_l1.append(i)
for j in l2:
    if j not in l1:
        unique_l2.append(j)
print(f"Elements unique to l1 = {unique_l1} \nElements unique to l2 = {unique_l2}")

Elements unique to l1 = [10, 4, 5]
Elements unique to l2 = [8, 9]

Section B:

1. Given a list [1, 2, 3, 4, 5], use the filter function with a lambda expression to get the even numbers. 

2. Write a Python program to connect to a SQL database and fetch all records from a table named 'students'. 

3. Write a Python program that uses a try-except block to handle a division by zero exception. 

4. Write a lambda function to calculate the square of a number. 

5. a=[10,20,30,30,40,50] Return the list by removing the 30 values from the list.
	output should be: a=[10,20,40,50]
    
6. Write a function that takes a string as input and returns a dictionary where keys are unique words in the string, and values are the frequencies of each word.
	example: 
	input_string = "apple banana orange banana apple"
	result = word_frequency_counter(input_string)
	Output: {'apple': 2, 'banana': 2, 'orange': 1}


7. Write a function that merges two dictionaries. If there are common keys, sum their values.
	example:
	dict1 = {'a': 10, 'b': 20, 'c': 30}
	dict2 = {'b': 5, 'c': 15, 'd': 25}
	result = merge_dictionaries(dict1, dict2)
	Output: {'a': 10, 'b': 25, 'c': 45, 'd': 25}

8. Create two data frames using the following two Dicts and solve the a and b.
	Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]} 
	car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]} 
	a. Merge two data frames 
	b. Append the second data frame as a new column to the first data frame. 

9. Use a loop to display elements from a given list present at odd index positions .

10. Create a function that checks if input list which contains whole numbers are divisible by x (x is also your input along with list) and get the count of it.
	example: 
	a=[1,10,23,24,36,89]
	x=4
	output: count is 2 (24,36)

In [41]:
# 1) Given a list [1, 2, 3, 4, 5], use the filter function with a lambda expression to get the even numbers.

list2=[1, 2, 3, 4, 5]
res=list(filter(lambda x:x%2==0,list2))
res

[2, 4]

In [ ]:
# 2) Write a Python program to connect to a SQL database and fetch all records from a table named 'students'.

In [50]:
# !pip install mysql-connector-python

In [51]:
# 2) Write a Python program to connect to a SQL database and fetch all records from a table named 'students'.
import mysql.connector

# Connect to the MySQL Workbench database
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="root",
    database="student"
)

# Check if the connection is successful
if connection.is_connected():
    cursor = connection.cursor()

    # Fetch all records from the 'students' table
    cursor.execute("SELECT * FROM students")
    records = cursor.fetchall()

    # Print the fetched records
    for record in records:
        print(record)

    # Close the cursor and connection
    cursor.close()
    connection.close()
    print("MySQL connection is closed")
else:
    print("Error connecting to MySQL database")

(1, 'mamtha', '70', '24')
(2, 'Jeevan', '100', '24')
(3, 'shravani', '96', '24')
(4, 'Pranav', '45', '24')
MySQL connection is closed

In [55]:
# 3) Write a Python program that uses a try-except block to handle a division by zero exception.
try:
    dividend = int(input("Enter the dividend: "))
    divisor = int(input("Enter the divisor: "))
    res = dividend / divisor
    print("Result of division:", res)
except ZeroDivisionError:
    print("Error: Division by zero!")

Enter the dividend: 5
Enter the divisor: 0
Error: Division by zero!

In [58]:
# 4) Write a lambda function to calculate the square of a number.

res=lambda x:x**2
res(7)

49

In [60]:
# 5) a=[10,20,30,30,40,50] Return the list by removing the 30 values from the list. output should be: a=[10,20,40,50]

a=[10,20,30,30,40,50]
def ret_lis(x):
    temp=[]
    for i in a:
        if i !=30:
            temp.append(i)
    return temp
op=ret_lis(a)
op

[10, 20, 40, 50]

In [67]:
# 6) Write a function that takes a string as input and returns a dictionary where keys are unique 
# words in the string, and values are the frequencies of each word. example: 
# input_string = "apple banana orange banana apple" 
# result = word_frequency_counter(input_string) 
# Output: {'apple': 2, 'banana': 2, 'orange': 1}

def word_frequency_counter(x):
    dic={}
    for i in x.split(" "):
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    return dic
input_string = "apple banana orange banana apple"
word_frequency_counter(input_string)

{'apple': 2, 'banana': 2, 'orange': 1}

In [70]:
# 7) Write a function that merges two dictionaries. If there are common keys, sum their values. example: 
# dict1 = {'a': 10, 'b': 20, 'c': 30} 
# dict2 = {'b': 5, 'c': 15, 'd': 25} 
# result = merge_dictionaries(dict1, dict2) 
# Output: {'a': 10, 'b': 25, 'c': 45, 'd': 25}

def merge_dictionaries(dict1,dict2):
    res={}
    for key,value in dict1.items():
        res[key]=value
    for key,value in dict2.items():
        if key in res:
            res[key]+=value
        else:
            res[key]=value
    return res

dict1 = {'a': 10, 'b': 20, 'c': 30} 
dict2 = {'b': 5, 'c': 15, 'd': 25} 
result= merge_dictionaries(dict1,dict2)
result

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [88]:
# 8) Create two data frames using the following two Dicts and solve the a and b. 
# Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]} 
# car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]} 
# a. Merge two data frames 
# b. Append the second data frame as a new column to the first data frame.

import pandas as pd
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'],
             'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 
                  'horsepower': [141, 80, 182 , 160]} 

df1=pd.DataFrame(Car_Price)
df2=pd.DataFrame(car_Horsepower)

merge_df=pd.merge(df1,df2,on='Company',how='inner')
df1['horsepower']=df2['horsepower']
print(f"With help of merge =\n {merge_df}")
print(f"After Performing Append =\n {df1}")

With help of merge =
   Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160
After Performing Append =
   Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

In [93]:
# 9) Use a loop to display elements from a given list present at odd index positions .
lis=[10,11,12,13,14,15,16,17,18,19,20]
temp=[]
for i in range(len(lis)):
    if i%2==1:
        temp.append(lis[i])
temp

[11, 13, 15, 17, 19]

In [114]:
# 10) Create a function that checks if input list which contains whole numbers are 
#  divisible by x (x is also your input along with list) and get the count of it. 
# example: a=[1,10,23,24,36,89] x=4 output: count is 2 (24,36)
def fun(lis,num):
    tem=[]
    coun=0
    for i in lis:
        if i%num==0:
            coun+=1
            tem.append(i)
    print(f"count is {coun} ({tem})")
a=[1,10,23,24,36,89]
x=4
fun(a,x)

count is 2 ([24, 36])

Section C:

1. Write a Python program to remove the common values of list1 from list2 and return same list2 by using List comprehension.
	example:
	list1=['ab','cd','ef','gh']
	list2=['cd','yy','ik','gh','ou']
	output: list2=['yy','ik','ou']

2. Create an inner function to calculate the addition in the following way 
	a.Create an outer function that will accept two parameters, a and b 
	b.Create an inner function inside an outer function that will calculate the addition of a and b 
	c.At last, an outer function will add 5 into addition and return it 
	
3. Write a python program to calculate:
   a. Duration of signal on (when Signal value is 1)
   b. Duration of signal off (when Signal value is 0)
   by using the following list of dictionaries (duration is in secs).
   
   list1=[{'signal_value': 1, 'duration': 10}                
		{'signal_value': 1, 'duration': 10}                                
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}]                                     
	
	example:                                     
	list1=[{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 0, 'duration': 10}                                     
		{'signal_value': 1, 'duration': 10}]                                     
		
	Output of a: 30 (sum of duration when the signal is 1)                                     
	output of b: 30 (sum of duration when the signal is 0)       
    
    
4. Given a DataFrame with a 'Date' column, calculate the rolling average of the 'Value' column over a window of 3 days.     
5. Given a square matrix A, compute its eigenvalues and eigenvectors using NumPy.

In [118]:
# 1) Write a Python program to remove the common values of list1 from list2 and 
# return same list2 by using List comprehension. 
# example: list1=['ab','cd','ef','gh'] list2=['cd','yy','ik','gh','ou'] output: list2=['yy','ik','ou']
list1=['ab','cd','ef','gh'] 
list2=['cd','yy','ik','gh','ou'] 


list2=[i for i in list2 if i not in list1]
print(list2)

['yy', 'ik', 'ou']

In [121]:
# 2) Create an inner function to calculate the addition in the following way 
# a.Create an outer function that will accept two parameters, a and b 
# b.Create an inner function inside an outer function that will calculate the addition of a and b 
# c.At last, an outer function will add 5 into addition and return it

def out_function(a, b):
    def in_function():
        return a + b
    
    result = in_function() + 5
    return result

a = 10
b = 20
res = out_function(a, b)
print("Result:", res)

Result: 35

In [129]:
# 3)
list1 = [{'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 0, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 1, 'duration': 10},
         {'signal_value': 0, 'duration': 10}]

duration_signal_1=0
duration_signal_0=0
for i in list1:
    if i['signal_value']==0:
        duration_signal_0+=i['duration']
    else:
        duration_signal_1+=i['duration']
print("Output of a:", duration_signal_1)
print("Output of b:", duration_signal_0)

Output of a: 110
Output of b: 90

In [146]:
# 4) Given a DataFrame with a 'Date' column, calculate the rolling average of the 'Value' column over a window of 3 days.
data = {
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'])

df.set_index('Date', inplace=True)

df['Rolling Average'] = df['Value'].rolling(window=3).mean()

df

            Value  Rolling Average
Date
2022-01-01     10              NaN
2022-01-02     20              NaN
2022-01-03     30             20.0
2022-01-04     40             30.0
2022-01-05     50             40.0

In [153]:
# 5) Given a square matrix A, compute its eigenvalues and eigenvectors using NumPy.

import numpy as np
A = np.array([[3, 6], [1, 2]])

eigenvalues = np.linalg.eigvals(A)
eigenvectors = np.linalg.eig(A)[1]

print(f"Eigenvalues:{eigenvalues}")
print(f"\nEigenvectors:\n{eigenvectors}")

Eigenvalues:[5. 0.]

Eigenvectors:
[[ 0.9486833  -0.89442719]
 [ 0.31622777  0.4472136 ]]